
! About periods and asterisks: https://unix.stackexchange.com/a/388610
! Note: the perl script "resize-font" is an external dependency coming from:
!       https://github.com/simmel/urxvt-resize-font
!       It can be installed in $HOME/.urxvt/ext with executable permissions.

! fonts
URxvt*letterSpace:              -1
URxvt.lineSpace:                0
URxvt*font:                     xft:ProggyCleanTTSZ Nerd Font Mono:regular:size=10
URxvt*imFont:                   xft:ProggyCleanTTSZ Nerd Font Mono:regular:size=10
URxvt*boldFont:                 xft:ProggyCleanTTSZ Nerd Font Mono:bold:size=10
URxvt*italicFont:               xft:ProggyCleanTTSZ Nerd Font Mono:italic:size=10
URxvt*boldItalicFont:           xft:ProggyCleanTTSZ Nerd Font Mono:regular:size=10

! perl extensions
URxvt.perl-ext-common:          default,clipboard,url-select,keyboard-select,resize-font

Xft.dpi:                        109
URxvt*termName:                 rxvt-unicode
URxvt.depth:                    0
URxvt.iso14755:                 False
URxvt.iso14755_52:              False
URxvt*geometry:                 64x23
URxvt.scrollBar:                False
URxvt*loginShell:               True

! autoscroll
! - Use `mouse wheel` or `Shift+Page Up` to scroll
! - Press any other keyboard key to autoscroll back to the bottom
URxvt*scrollTtyOutput:          False
URxvt*scrollWithBuffer:         True
URxvt*scrollTtyKeypress:        True

! extensions settings
! resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
! clipboard
URxvt.keysym.Shift-Control-C:  perl:clipboard:copy
URxvt.keysym.Shift-Control-V:  perl:clipboard:paste
URxvt.clipboard.autocopy:      True

! Dracula Xresources palette
*.foreground:  #F8F8F2
*.background:  #282A36
*.color0:      #000000
*.color8:      #4D4D4D
*.color1:      #FF5555
*.color9:      #FF6E67
*.color2:      #50FA7B
*.color10:     #5AF78E
*.color3:      #F1FA8C
*.color11:     #F4F99D
*.color4:      #BD93F9
*.color12:     #CAA9FA
*.color5:      #FF79C6
*.color13:     #FF92D0
*.color6:      #8BE9FD
*.color14:     #9AEDFE
*.color7:      #BFBFBF
*.color15:     #E6E6E6
