#!/bin/sh

alias upgrade='sudo apt-get update && \
               sudo apt upgrade && \
               sudo apt-get autoremove --purge && \
               sudo apt-get clean' # System clean upgrade
alias diff='diff --color'
alias ls='ls --color=tty'
alias mutt='TERM=${TERM}-256color mutt'
alias neomutt='TERM=${TERM}-256color neomutt'

alias mpv-pip='mpv --profile="pip"'
